*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none !important;
    
}
.section-title{
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}
.section-title span{
    color: rgb(8, 92, 15);
}
.card , .card-header{
    background-color: transparent;
    padding: 0px;
    margin-bottom: 20px;
    outline: none;
    display: block;
}
.card-header a{
    color: #000;
    font-size: 20px;
    padding: 10px;
    display: block;
}
.card-header .fa{
    float: right;
    display: block;
}

.section-bg-1{
    background: rgb(241, 236, 236);
    position: relative;
}

.section-bg-1::after{
    
    background-image: url(../images/bg1.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 40%;
    position: absolute;
    content: '';
    top: 0%;
    left: 5%;
    
}

